@charset "utf-8";
/* CSS Document */
#paginainicio
{background:#0C3}

#titulo
{background:#06F}

#pienombre
{background:#6CC; color:#06C}

#introduccion
{ color:#003; size:"50"; text-align:justify; background:#0F6; width:98%; margin:1%}

#bayas
{background:#C33}
#titubay
{background:#C33}
#Pieba
{background:#C33}


#citricos
{background:#CF3}
#titucitrico
{background:#0C3}
#Piecitrico
{background:#F30}


#Cucurbitáceas
{background:#F60}
#pieCucurbitáceas
{background:#3C0}
#titucucuc
{background:#666}
#Piecuc
{background:#FC3}

#Exóticas
{background:#090}
#pieExóticas
{background:#FF3}
#tituexotica
{background:#C03}
#Pieexotica
{background:#096}

#dulce
{background:#39C}
#piedulce
{background:#06F}
#titudulce
{background:#C3F}
#Piedulces
{background:#6F6}

#secos
{background:#6CC}
#secos2
{background:#690}
#titusecos
{background:#96F}
#Piesecos
{background:#099}